---
import Layout from '../layouts/Layout.astro'

import CarouselItem1 from '../assets/img/bimibm.png'
import CarouselItem2 from '../assets/img/pips.png'
import CardImage1 from '../assets/img/Adress-img.png'
import CardImage2 from '../assets/img/bonus-img.png'
import CardImage3 from '../assets/img/Menu-img.png'
import Image from 'astro/components/Image.astro'
import { ROUTES } from '../config/routes'
import HotItems from '../components/Menu/HotItems.vue'
---

<Layout>
	<section class='Carousel-Fade'>
		<div
			id='carouselExampleFade'
			class='carousel slide carousel-fade'
			data-bs-ride='carousel'
		>
			<div class='carousel-inner'>
				<div class='carousel-item active'>
					<div class='carousel-image-container'>
						<Image
							src={CarouselItem1}
							alt='Изображение 1'
							class='d-block w-100'
							loading='eager'
						/>
					</div>
				</div>
				<div class='carousel-item'>
					<div class='carousel-image-container'>
						<Image
							src={CarouselItem2}
							alt='Изображение 2'
							class='d-block w-100'
						/>
					</div>
				</div>
			</div>
			<button
				class='carousel-control-prev'
				type='button'
				data-bs-target='#carouselExampleFade'
				data-bs-slide='prev'
			>
				<span class='carousel-control-prev-icon' aria-hidden='true'></span>
				<span class='visually-hidden'>Предыдущий</span>
			</button>
			<button
				class='carousel-control-next'
				type='button'
				data-bs-target='#carouselExampleFade'
				data-bs-slide='next'
			>
				<span class='carousel-control-next-icon' aria-hidden='true'></span>
				<span class='visually-hidden'>Следующий</span>
			</button>
		</div>
	</section>
	<section class='Main m-page'>
		<HotItems client:load />

		<div class='card-container my-3'>
			<div class='card'>
				<div class='image-container my-4'>
					<Image src={CardImage3} alt='Меню' title='Меню' />
				</div>
				<div class='text-container mx-4 my-2'>
					<h2>Наше меню</h2>
					<h4 class='main-text'>
						Откройте для себя наше разнообразие кофейных напитков!
					</h4>
				</div>
				<div class='button-container mx-4 my-3'>
					<a href={ROUTES.MENU} class='main-text'> Посмотерть </a>
				</div>
			</div>
			<div class='card'>
				<div class='image-container my-4'>
					<Image src={CardImage1} alt='Адрес' title='Адрес' />
				</div>
				<div class='text-container mx-4 my-2'>
					<h2>Адрес кофейни</h2>
					<h4 class='main-text'>Узнайте как попсать в нашу уютную кофейню</h4>
				</div>
				<div class='button-container mx-4 my-3'>
					<a href={ROUTES.ABOUT} class='main-text'> Посмотерть </a>
				</div>
			</div>
		</div>
	</section>
</Layout>
<style>
	.carousel-image-container {
		height: 700px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #f0f0f0;
	}

	.carousel-image-container img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
</style>
