---
import Image from 'astro/components/Image.astro'
import CoffeeIcon from '../../assets/img/Coffee.svg'
import { ROUTES } from '../../config/routes'
import Profile from '../../icons/Profile.astro'
import Cart from '../../icons/Cart.astro'
import HeaderIsland from './HeaderIsland.vue'
import { createApp } from 'vue'
import { createPinia } from 'pinia'

if (typeof window !== 'undefined') {
	const app = createApp(HeaderIsland)
	const pinia = createPinia()
	app.use(pinia)
	app.mount('#header-island')
}

const links = [
	{
		route: ROUTES.MENU,
		title: 'Меню'
	},
	{
		route: ROUTES.ABOUT,
		title: 'О нас'
	}
]

const url = Astro.url.pathname

console.log(url)
---

<header>
	<nav class='navbar navbar-expand-lg bg-body-tertiary main-text height-nav'>
		<div class='container-fluid h-100'>
			<div class='navbar-brand' >
				<a href={ROUTES.INDEX}>
				<Image src={CoffeeIcon} alt='main header logo  ' />
				</a>
			</div>
			<button
				class='navbar-toggler'
				type='button'
				data-bs-toggle='collapse'
				data-bs-target='#navbarNav'
				aria-controls='navbarNav'
				aria-expanded='false'
				aria-label='Переключатель навигации'
			>
				<span class='navbar-toggler-icon'></span>
			</button>
			<div class='collapse navbar-collapse me-5' id='navbarNav'>
				<ul class='navbar-nav'>
					{
						links.map(link => (
							<li class='nav-item'>
								<a
									class:list={{
										'nav-link': true,
										active: link.route === url
									}}
									aria-current='page'
									href={link.route}
								>
									{link.title.toUpperCase()}
								</a>
							</li>
						))
					}
				</ul>
			</div>
			<div>
				<div class='d-flex gap-2'>
					<a href={ROUTES.CART}>
						<Cart class:list={{ c_950: url === ROUTES.CART }} />
					</a>
					<div id='header-island'>
						<HeaderIsland client:load />
					</div>
				</div>
			</div>
		</div>
	</nav>

	<style>
		.height-nav {
			height: 100px;
		}
	</style>
</header>
